# TODO update so that the package gets installed from:
# https://www.virtualbox.org/wiki/Linux_Downloads
# ```
# sudo dpkg -i ./virtualbox-7.2_7.2.4-170995~Debian~trixie_amd64.deb
# sudo apt install --fix-broken
# sudo apt install linux-headers-6.12.57+deb13-amd64
# sudo sudo /sbin/vboxconfig
# ```

- name: Insert backports apt source
  ansible.builtin.lineinfile:
    path: "{{ file_apt_source_backports }}"
    line: "deb http://deb.debian.org/debian {{ distribution_codename.stdout }}-backports main contrib"
    create: yes
  become: true

- name: Import fasttrack archive keyring
  ansible.builtin.apt:
    pkg:
      - fasttrack-archive-keyring
  become: true

- name: Create fasttrack apt sources file
  ansible.builtin.file:
    path: "{{ file_apt_source_fasttrack }}"
    state: touch
    mode: '0644'
  become: true

- name: Insert fasttrack apt sources
  ansible.builtin.blockinfile:
    path: "{{ file_apt_source_fasttrack }}"
    block: |
      deb http://fasttrack.debian.net/debian-fasttrack/ {{ distribution_codename.stdout }}-fasttrack main contrib
      deb http://fasttrack.debian.net/debian-fasttrack/ {{ distribution_codename.stdout }}-backports-staging main contrib
  become: true

- name: Update package repository cache
  ansible.builtin.apt:
    update_cache: yes
  become: true

- name: Install virtualbox package
  ansible.builtin.apt:
    pkg:
      - virtualbox
  become: true
